.body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/* starter */
.homeImage {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("../Assets/homeImage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* header */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.links {
  display: flex;
  width: 25%;
  align-items: baseline;
  justify-content: space-around;
  color: white;
  font-family: Saira Condensed;
  list-style: none;
}

//used with animatedButton1
.homeAnimatedButton {
  border: 1px solid white;
  color: white;
  font-family: Saira Condensed;

  &:after {
    color: black;
    background: rgb(241, 241, 241);
  }

  &:hover {
    color: rgb(0, 0, 0);
  }
}

.homeLoginButton {
  color: white;
  font-size: 1.4em;
}

.homeAnimatedButtonBottom {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 30px;
}

/* title */
.titleContainer {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: white;

  h1 {
    font-size: 110px;
    font-family: Farsan;
  }

  h2 {
    font-size: 3em;
  }
}

/* about and such */
.title2 {
  text-align: center;
  font-size: 3em;
  padding: 70px 0;
}

.iconsContainer {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  width: 70%;
  text-align: center;

  h3 {
    font-size: 29px;
    padding: 14px 0;
    font-weight: 700;
  }
  h4 {
    font-size: 20px;
  }
}

.horizontalSapartorLine {
  display: flex;

  div {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    width: 70%;
    height: 2px;
    opacity: 0.7;
    margin: 80px 0;
  }
}
.stagImage {
  position: absolute;
  width: 250px;
}

/*Description area */

.descriptionContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 100px 0;
  h1 {
    font-size: 40px;
    width: 30%;
    line-height: 70px;
    letter-spacing: 0.145em;
  }
}

.descriptionContainerRed {
  background: #ffdddd;
}

.doubleImageContainer {
  position: relative;
  width: 520px;
  height: 340px;
}

.doubleImage {
  position: absolute;
  width: 77%;
  border: 6px solid $primaryBlackColor;
  border-radius: 3px;
  box-shadow: 15px 15px 20px 2px rgba(0, 0, 0, 0.45),
    inset 20px 20px 40px 9px rgba(0, 0, 0, 0.25);
}

.doubleImagePosition2 {
  top: 70px;
  left: 70px;
  z-index: -1;
}

.singleImage {
  width: 520px;
  border: 6px solid $primaryBlackColor;
  border-radius: 26px;
  box-shadow: -15px 15px 20px 5px rgba(0, 0, 0, 0.45),
    inset -20px 20px 40px 9px rgba(0, 0, 0, 0.25);
}
.imageReverseShadow {
  box-shadow: 15px 15px 20px 5px rgba(0, 0, 0, 0.45),
    inset 20px 20px 40px 9px rgba(0, 0, 0, 0.25);
}

/* footer */
.footer {
  position: relative;
  width: 100vw;
  height: 100px;
  background-color: $primaryBlackColor;
}

.footer h1 {
  position: absolute;
  color: white;
  bottom: 0;
  left: 40px;
}

@media only screen and (max-width: 814px) {
  .titleContainer {
    h1 {
      font-size: 70px;
    }
    h2 {
      margin-top: 40px;
      font-size: 35px;
    }
  }

  .iconsContainer {
    flex-direction: column;
    height: 850px;
  }

  .stagImage {
    width: 150px;
  }

  .descriptionContainer {
    flex-direction: column-reverse;
    align-items: center;

    h1 {
      width: 80%;
      text-align: center;
      font-size: 25px;
    }
  }

  .descriptionContainerRed {
    flex-direction: column;
  }

  .singleImage,
  .doubleImageContainer {
    margin-bottom: 40px;
  }

  .doubleImageContainer {
    height: 200px;
  }

  .doubleImageContainer,
  .singleImage {
    width: 85%;
    align-self: center;
  }

  .singleImage,
  .imageReverseShadow {
    box-shadow: 0px 10px 7px 5px rgba(0, 0, 0, 0.55),
      inset 20px 20px 40px 10px rgba(0, 0, 0, 0.25);
  }
}
