:root {
  --main-red-color: #f55757;
  --main-lighter-black: rgb(54, 54, 54);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: Saira Condensed;
}

.canvas {
  overflow-x: hidden;
}

/* overAll classes */

.trashCan {
  position: fixed;
  cursor: pointer;
  z-index: 1;
  margin: 20px;
  font-size: 40px;
}

input[type="button"] {
  outline: none;
  font-family: Saira Condensed;
}

.normalInput {
  outline: none;
  font-size: 15px;
  padding: 10px;
  border: 2px solid var(--main-lighter-black);
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.slider {
  -webkit-appearance: none;
  background-color: black;
  height: 5px;
  border-radius: 0.4em;
  outline: none;
  opacity: 0.8;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: var(--main-red-color);
}

.slider::-webkit-slider-thumb:hover {
  border: 3px solid var(--main-red-color);

  background-color: white;
}

.submitButton {
  border: none;
  background: var(--main-lighter-black);
  color: white;
  font-weight: 100;
  font-size: 17px;
  padding: 14px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.submitButton:hover {
  background-color: var(--main-red-color);

  font-weight: 700;
  letter-spacing: 3px;
  box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.grab {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grab:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

a {
  text-decoration: none;
}

.colorPicker {
  width: 35px;
  height: 35px;
  border: none;
  outline: none;
  background-color: white;
  padding: 0;
}

/* BleesingMaker toolbar */

.toolBar {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  box-shadow: 1px 0px 15px 2px rgb(0, 0, 0);
  background-color: white;
  opacity: 0.9;
}

.ToolsHeadersContainer {
  position: sticky;
  top: 0;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  background-color: white;
  margin: 20px 0;
  border-radius: 10px;
  z-index: 1;
}

.minimizeToolBar {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

.headerIcons {
  opacity: 0.8;
}

.headerIcons:hover {
  opacity: 1;
}

.headerIcons:hover > .headerIconsBubble {
  display: block;
}

.headerIconsBubble {
  position: absolute;
  background-color: var(--main-red-color);
  border-radius: 0.4em;
  color: white;
  padding: 10px;
  transform: translate(-30px, 10px);
  display: none;
}

.headerIconsBubble:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: var(--main-red-color);
  border-top: 0;
  margin-top: -10px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.sectionContainerHeader {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid black;
  line-height: 0.1em;
  margin: 100px 0;
  font-family: Farsan;
}

.sectionContainerHeader span {
  background: white;
  padding: 0 10px;
}

.backgroudCarousel {
  width: 80%;
  text-align: center;
  height: 14vh;
  margin-bottom: 100px;
  padding: 30px 0;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

/* backgroundColors/container */

.backgroudContainer {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.degreeSlider {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* images/stickers */

.slick-prev:before,
.slick-next:before {
  opacity: 1;
  color: black !important;
}

.imagesOnCarouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagesOnCarousel {
  width: 95%;
  max-height: 15vh;
  box-shadow: 2px 2px 4px black;
}

.imagesOnCarouselContainer:hover > .addStickerButton {
  opacity: 1;
}

.addStickerButton {
  width: 95%;
  opacity: 0;
  background-color: var(--main-red-color);
  color: white;
  border-radius: 5px;
  border: none;
  height: 20px;
}

.addStickerButton:active {
  box-shadow: inset 1px 1px 5px var(--main-lighter-black);
}

/* uploadImage */

.uploadImageSide {
  display: flex;
  align-items: flex-start;
  width: 90%;
  justify-content: space-around;
  margin-bottom: 40px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
}

.upload-btn-wrapper button {
  border: 2px solid grey;
  color: gray;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  width: 164px;
  outline: none;
  text-align: left;
}

.upload-btn-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.upload-btn-wrapper h4 {
  cursor: pointer;
}

.uploadNormalInput {
  width: 140px;
  border: 2px solid grey;
  color: grey;
}

.uploadTitle {
  margin-bottom: 40px;
  text-align: left;
}

.uploadImageButton {
  padding: 5px 20px;
  background-color: white;
  border: 2px solid var(--main-lighter-black);
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}
.uploadImageButton:hover {
  background-color: var(--main-red-color);
}

/* peragraph /peragraph tool bar */

.peragraphTextArea {
  padding: 5px;
  font-family: sans-serif;
  resize: vertical;
}

.peragraphToolBarContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.textAlignContainer {
  display: flex;
  height: 25px;
}

.textAlignRadio {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: aqua;
  opacity: 0;
  z-index: 1;
}

.fontSizeInput {
  width: 50px;
  height: 20px;
  outline: none;
  border: none;
  font-size: 20px;
  border-top: 1px solid var(--main-lighter-black);
  border-right: 1px solid var(--main-lighter-black);
  border-radius: 5px;
}

.numbersInputContainer {
  display: flex;
  margin: 20px 0;
  width: 140px;
  color: var(--main-lighter-black);
  padding: 5px;
  align-items: center;
  border-bottom: 1px solid var(--main-lighter-black);
}
.numbersInputContainer h3 {
  margin-left: 10px;
}

.fontFamilySelector {
  border: none;
  background-color: var(--main-lighter-black);
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}

/* song */
.songContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* finished */

.finished {
  background-color: var(--main-lighter-black);
  padding: 100px 0;
  margin-top: 50px;
  position: relative;
  text-align: center;
  color: white;
}

.createLink {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  border: 3px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.createLink:hover {
  background-color: white;
  color: black;
}

.finishedMessage {
  padding: 15px 0;
}

.finishedLink {
  color: white;
  border: 1px solid white;
  padding: 3px;
}

/* preview screen */
.previewBackground {
  position: fixed;
  width: 100vw;
}

.previewContainer {
  height: auto;
  overflow-y: auto;
  min-height: 100vh;
  position: relative;
}

.previewImages {
  position: absolute;
}
/* images */
.image {
  position: absolute;
  transform-origin: top left;
  opacity: 0;
  padding-bottom: 30vh;
}

/* fade in animation */
.fadeIn {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fadeIn.appear {
  opacity: 1;
}

/* preview button */

.coolAnimatedButton {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  letter-spacing: 2px;
  text-align: center;
  position: sticky;
  transition: all 0.35s;
  border-radius: 10px;
}

.coolAnimatedButton span {
  position: relative;
  z-index: 2;
}

.coolAnimatedButton:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-red-color);
  border-radius: 8px;
  transition: all 0.35s;
}

.coolAnimatedButton:hover {
  color: white;
}

.coolAnimatedButton:hover:after {
  width: 100%;
}

/* scrollbars  */
.toolBar::-webkit-scrollbar {
  width: 0.4em;
}

.toolBar::-webkit-scrollbar-thumb {
  background-color: var(--main-lighter-black);
  border-radius: 10px;
}

.blessingTextArea::-webkit-scrollbar {
  width: 0.8em;
}

.blessingTextArea::-webkit-scrollbar-thumb {
  background-color: var(--main-lighter-black);
}
