html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.pageContainer {
}

/* overAll classes */

.grab {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.grab:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* BleesingMaker toolbar */

.toolBar {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 30%;
  top: 0;
  right: 0;
  border-left: 1px solid rgba(58, 58, 58, 0.411);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backgroudCarousel {
  width: 90%;
  height: 14%;
  text-align: center;
  border: 2px solid rgba(94, 94, 94, 0.301);
  padding: 10px;
}

.slick-arrow {
  background-color: rgb(124, 124, 124) !important ;
  opacity: 0.3;
}

.imagesOnCarouselContainer {
  height: 60%;
}

.imagesOnCarousel {
  width: 70%;
  height: 70%;
  padding: 3px;
  border: 1px solid black;
}

.blessingTextArea {
  padding: 5px;
}

.imagesOnCarouselContainer:hover > .addStickerButton {
  display: block;
}

.addStickerButton {
  display: none;
}

/* blessingZone */

.BlessingLocation {
  background: linear-gradient(90deg, rgb(247, 134, 134), rgb(97, 238, 231));
  width: 70%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
}

.blessingPeragraph {
  white-space: pre-wrap;
  text-align: center;
}

/*  drabble image settings   */

.draggableImageContainer {
  position: absolute;
  border: 2px solid transparent;
  transform: translate(-50%, -50%);
}

.draggableImage {
  height: 100px;
  padding: 5px;
}

.draggableImageContainer:hover {
  border: 2px solid aliceblue;
}

.draggableImageContainer:hover > .draggableImageDeleteIcon {
  display: block;
}

.draggableImageDeleteIcon {
  top: 60%;
  left: -5%;
  position: absolute;
  display: none;
  cursor: pointer;
  font-size: 40px;
  background-color: transparent;
  border: transparent;
  font-weight: bold;
}

/* preview screen */
.previewContainer {
  background: linear-gradient(90deg, rgb(247, 134, 134), rgb(97, 238, 231));
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.previewImages {
  position: absolute;
  height: 100px;
}

.test {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
