:root {
  --light-blue: rgb(125, 205, 252);
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}

/* global elements */
.logo {
  color: white;
  letter-spacing: 4px;
  margin-left: 15px;
  font-size: 40px;
  font-family: Farsan;
}

/* starter */
.homeImage {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("../Assets/homeImage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* header */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.links {
  display: flex;
  width: 25%;
  align-items: baseline;
  justify-content: space-around;
  color: white;
  font-family: Saira Condensed;
  list-style: none;
}

.homeAnimatedButton {
  /* used with coolAnimatedButton found in activity  styles */
  border: 1px solid white;
  color: white;
  font-family: Saira Condensed;
}

.homeAnimatedButton:after {
  color: black;
  background: rgb(241, 241, 241);
}

.homeAnimatedButton:hover {
  color: rgb(0, 0, 0);
}

.homeLoginButton {
  color: white;
  font-size: 1.4em;
}

/* title */
.titleContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.title {
  color: white;
  font-size: 8em;
  font-family: Farsan;
}

.subTitle {
  color: rgb(255, 255, 255);
  font-family: Saira Condensed;
  font-size: 3em;
}

/* about and such */
.title2 {
  text-align: center;
  font-size: 3em;
  padding: 70px 0;
}

.iconsContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 100vh;
  text-align: center;
}

.iconHeader {
  font-size: 26px;
  padding: 14px 0;
}

.iconPeragraph {
  font-size: 20px;
}

/*signup and login screens*/
.signupLoginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
}

.separatorLine {
  height: 80%;
  width: 2px;
  opacity: 0.7;
  align-self: center;
  color: black;
  background-color: black;
  margin: 0 50px;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
}

.loginSignupHeader {
  font-family: Saira Condensed;
  font-size: 60px;
}

.loginSignupSubHeader {
  display: flex;
  font-size: 20px;
  padding: 30px 0;
}
.loginSignupLink {
  color: var(--light-blue);
  margin-left: 5px;
}

.submitButtonHome:hover {
  background-color: var(--light-blue);
}

.loginOtherWay {
  display: flex;
  align-items: center;
}

.submitForm {
  display: flex;
  align-items: center;
}

.messageResponse {
  padding: 20px 0;
  font-family: Saira Condensed;
  white-space: pre-wrap;
}

/*login/sign inputs*/

.field {
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #d3d3d3);
}

.field__input {
  background-color: transparent;
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: 1em;
}

.field__input:focus::-webkit-input-placeholder {
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
  color: var(--uiFieldPlaceholderColor);
  opacity: 1;
}

.a-field {
  display: inline-block;
  margin-bottom: 60px;
}

.a-field__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.a-field__input:focus {
  outline: none;
}

.a-field {
  --uiFieldHeight: var(--fieldHeight, 2.5rem);
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1rem);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1rem);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 1rem);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1rem;
}

.a-field__input {
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
}

.a-field__input::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.a-field__input::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label {
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
}

.a-field__input:focus::-webkit-input-placeholder {
  opacity: 1;
  transition-delay: 0.2s;
}

.a-field__input:focus::-moz-placeholder {
  opacity: 1;
  transition-delay: 0.2s;
}

.a-field__label-wrap {
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight);
  pointer-events: none;
  cursor: text;
  position: absolute;
  bottom: 0;
  left: 0;
}

.a-field__label {
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: calc(50% - 0.5em);

  line-height: 1;
  font-size: var(--uiFieldHintFontSize);

  pointer-events: none;
  transition: bottom 0.2s cubic-bezier(0.9, -0.15, 0.1, 1.15),
    opacity 0.2s ease-out;
  will-change: bottom, opacity;
}

.a-field__input:focus ~ .a-field__label-wrap .a-field__label {
  opacity: 1;
  bottom: var(--uiFieldHeight);
}

.a-field_a2 .a-field__label-wrap::after {
  content: "";
  box-sizing: border-box;
  width: 0;
  height: var(--uiFieldBorderWidth);
  background-color: var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;

  will-change: width;
  transition: width 0.285s ease-out;
}

.a-field_a2 .a-field__input:focus ~ .a-field__label-wrap::after {
  width: 100%;
}

.field {
  --fieldBorderColor: #000000;
  --fieldBorderColorActive: var(--light-blue);
}

/*loading indicator */
.loadingIndicator {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 43px;
}
.loadingIndicator div {
  position: absolute;
  top: 15px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loadingIndicator div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.loadingIndicator div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loadingIndicator div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loadingIndicator div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
